@import 'tailwindcss';

@theme {
  --color-brand: #fdc601;
}

/* Responsive sidebar widths */
@media (min-width: 768px) {
  .sidebar {
    width: 300px;
  }
}

@media (min-width: 1024px) {
  .sidebar {
    width: 320px;
  }
}
